<div class="container d-flex gap-5 flex-column">
  <button
    type="button"
    class="btn btn-success"
    [disabled]="allowUser"
    (click)="onCreateServer()"
  >
    Success
  </button>
  {{ allowUser }}
  <button type="button" class="btn btn-danger" (click)="alertFunction()">
    Alert
  </button>
  <!-- string  interpolation -->
  {{ serverCreationStatus }}
</div>

<div class="pt-5">
  <!-- <input type="text" label="" (input)="onUpdateServer($event)" /> -->
  <input type="text" label="" [(ngModel)]="serverName" />
  <p>{{ serverName }}</p>
</div>
